S3method(coef,cluster_mm)
S3method(coef,fit_mm)
S3method(confint,cluster_mm)
S3method(confint,fit_mm)
S3method(plot,cluster_mm)
S3method(plot,fit_mm)
S3method(plot,group_mm)
S3method(predict,cluster_mm)
S3method(predict,fit_mm)
S3method(print,cluster_mm)
S3method(print,fit_mm)
S3method(print,group_mm)
S3method(print,screen_mm)
S3method(print,summary.cluster_mm)
S3method(print,summary.fit_mm)
S3method(summary,cluster_mm)
S3method(summary,fit_mm)
S3method(vcov,cluster_mm)
S3method(vcov,fit_mm)
export(cluster_mm)
export(screen_mm)
export(fit_mm)
export(group_mm)
export(report_mm)
export(simulate_mm_data)
export(variance_function)
importFrom(grDevices,adjustcolor)
importFrom(graphics,lines,plot,points,polygon)
importFrom(stats,coef,confint,optimise,optimize,predict,qnorm,sd,uniroot,vcov)
